<footer class="footer">
  <div class="container footer-container">
    <div class="footer-list-container">
      <ul class="footer-list-link">
        <li><a class="footer-link" href="">ABOUT US</a></li>
        <li><a class="footer-link" href="">OUR COLLECTION</a></li>
      </ul>
      <ul class="footer-list-link">
        <li><a class="footer-link" href="">CUSTOMER ORDER</a></li>
        <li><a class="footer-link" href="">TESTIMONIALS</a></li>
      </ul>
    </div>
    <div class="footer-text-container">
      <p class="footer-paragraph">
        A touch of <span class="footer-paragraph-part">Ukrainian</span> culture
        in every embroidery
      </p>
    </div>
  </div>
</footer>
