<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Reviving the traditional
      <span class="yellow-text">Ukrainian</span> artistry in every stitch.
    </h1>
    <button class="hero-btn">
      Order
      <svg class="hero-btn-icon" width="26" height="15">
        <use href="../img/icons/symbol-defs.svg#icon-arow"></use>
      </svg>
    </button>
    <img
      class="hero-img"
      src="../img/hero/hero-img-mob.jpg"
      alt="girl in embroidered shirt"
    />
  </div>
</section>
