<!-- mobile-menu -->
<div class='burger'>
  <div class='block--tel-btn' >
    <a class='mobile-tel-link' href="tel:+380684439426">+380 (68) 443-94-26</a>
    <button class='btn-close-mibile-menu' type='button' > Su </button>
  </div>
  <ul class='mobile-menu-list'>
    <li class='mobile-list-item'><a class='mobile-link' href=""></a>About us</li>
    <li class='mobile-list-item'><a class='mobile-link' href=""></a>Our collection </li>
    <li class='mobile-list-item'><a class='mobile-link' href=""></a>CUSTOMER ORDER</li>
    <li class='mobile-list-item'><a class='mobile-link' href=""></a>TEstimonials</li>
  </ul>
  <img class='mobile-photo' src="./img/icons/img-mobile/elements-min.png" alt="">
</div>