
<div class='container your-order__container'>
  <form action='' class='your-order_container__form'>
    <p class='paragraph_form-order-section'>
      <span class='your-order'>Your order</span> is our priority: Personalized approach and quality of service
    </p>
    <div class='input-order_block'>
      <input type='text' name='name' id='full_name' class='order__input full__name' placeholder='Enter your full name'>
      <input type='email' name='email' id='your_email' class='order__input your__email' placeholder='Enter your email'>
      <textarea name='comment' id='your_comments' cols='63' rows='10' class='teaxterea-comment' placeholder='Comments'></textarea>
    </div>
    <button type='submit' class='submit-order__arrow'>
      SEND
      <svg class='send-icon__order'>
        <use href='../img/icons/symbol-defs.svg#icon-arow'></use>
      </svg>
    </button>
    <img src='../img/back-sect-img/your-order/your-order.jpg' alt='Photo Your Order' class='img-your_order'>
  </form>
</div>
