<div class='container'>
  <img src='../img/back-sect-img/your-order/your-order.jpg' alt='Photo Your Order' width='524' height='' class='img-your_order'>
  <form action='' class='your-order_container'>
    <p class='paragraph_form-order-section'>
      Your order is our priority: Personalized approach and quality of service
    </p>
    <div class='input-order_block'>
      <input type='text' name='name' id='full_name'>
      <input type='email' name='email' id='your_email'>
      <textarea name='comment' id='your_comments' cols='63' rows='10'></textarea>
    </div>
  </form>
</div>