.aboutus {
  padding-top: 40px;
  padding-bottom: 20px;
}
.aboutus-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.aboutus-title {
  color: #fcf9f9;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}
.aboutus-paragraph {
  width: 335px;
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.04em;
}
.aboutus-paragraph-first {
  margin-bottom: 20px;
}
.aboutus-img-container {
  width: 335px;
  height: 560px;
  position: relative;
}
.aboutus-img-container::before {
  content: url(../img/aboutus/about-us-img.png);
  display: block;
  width: 459px;
  height: 408px;
  position: absolute;
  bottom: 0px;
  right: -232px;
  z-index: -1;
}
