.aboutus {
  padding-top: 30px;
  padding-bottom: 100px;
}
.aboutus-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.aboutus-title {
  color: var(--white, #fcf9f9);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.3em;
  margin-bottom: 40px;
}
.aboutus-paragraph {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  letter-spacing: -0.04em;
}
.aboutus-paragraph-first {
  margin-bottom: 20px;
}
.aboutus-img-container {
  position: relative;
}
.aboutus-img-container::after {
  position: absolute;
  display: flex;
  content: url(../img/aboutus/about-us-img.png);
  bottom: -50px;
  left: 110px;
  z-index: -1;
}
