.your-order__container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.img-your_order {
  display: none;
}

.your-order_container__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.paragraph_form-order-section {
  width: 335px;
  height: 176px;
  color: #fcf9f9;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0.02em;
}

.your-order {
  color: #ecd979;
}

.order__input {
  display: flex;
  width: 335px;
  padding: 14px 16px;
  align-items: flex-start;
  gap: 8px;
  background-color: transparent;

  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);

  color: #fcf9f9;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;

  margin-bottom: 20px;
}
.teaxterea-comment {
  width: 335px;
  height: 196px;
  display: flex;
  padding: 14px 16px;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  background-color: transparent;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid rgba(252, 249, 249, 0.1);

  color: #fcf9f9;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.32px;
}

.submit-order__arrow {
  display: flex;
  height: 49px;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 145px;
  text-align: center;
  background-color: transparent;
  color: #fcf9f9;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.56px;
  text-transform: uppercase;

  cursor: pointer;

  border-radius: 15px;
  margin-top: 40px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}
@media screen and (min-width: 768px) {
  .your-order__container {
    padding-top: 50px;
    padding-bottom: 89px;
  }
  .paragraph_form-order-section {
    width: 530px;
    height: 174px;
  }

  .img-your_order {
    display: flex;
    position: relative;
    width: 638px;
    height: 521px;
    flex-shrink: 0;
    justify-content: end;
    left: 5%;
  }

  .your-order_container__form {
    display: flex;
    flex-direction: column;
    align-items: normal;
    gap: 40px;
  }

  .order__input {
    width: 508px;
  }

  .teaxterea-comment {
    width: 508px;
  }
  .img-container {
    height: 580px;
    width: 710px;
    padding-left: 70px;
    padding-bottom: 70px;
    position: relative;
  }
  .img-container::before {
    position: absolute;
    content: url(../img/order-img/order-back-img.png);
    width: 545px;
    height: 484px;
    display: block;
    bottom: 0;
    left: 0;
  }
}
@media screen and (min-width: 1280px) {
  .your-order_container__form {
    display: flex;
    flex-direction: row-reverse;
  }
  .paragraph_form-order-section {
    width: 530px;
    height: 174px;
  }
  .form-input__container {
    padding-top: 15px;
    margin-left: 25px;
  }
  .img-container {
    margin-right: 25px;
  }
}
